* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root {
    --raven: #000000;
    /* deep black */
    --whisper: #f6f6f9;
    --crystal: #ffffff;
    /* pure white */
    --ink: #000000;
    /* bold text */
    --mist: #5D606F;
    /* light text */
    --verdant: #269D70;
    /* active */
    --sable: #11211F;
    /* button background */
    --twilight: #25262C;
    /* footer background */
    --success: #269D70;
    /* verdant */
    --danger: #FF0000;
    /* red */
}

html {
    scroll-behavior: smooth;
    margin: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
}

body {
    position: relative;
    background-color: var(--whisper);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* == SCROLL BAR == */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

@media only screen and (max-width: 788px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--crystal);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--verdant);
}

/* == || SCROLL BAR == */


/* == FORMS == */
/* == Login == */
body.login-pg {
    height: 100vh;
    width: 100vw;
}

main.login-pg {
    height: 100%;
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-pg-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--crystal);
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.login-pg-container .card {
    width: 100%;
    max-width: 580px;
    min-width: 260px;
    margin: 16px 0px;
}

.login-pg-container .card.one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-pg-container .card.one img {
    width: 80%;
}

.login-pg-container .card form {
    width: 100%;
}

.form-control {
    padding: 10px 0px;
    width: 100%;
}

.form-control .message {
    min-height: 28px;
    padding: 4px 0px;
    text-align: center;
}

.form-control .message #errorMessage {
    color: var(--danger);
}

.form-control .message #successMessage {
    color: var(--success);
}

.form-control.text-center {
    text-align: center;
}

.form-control.text-center h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--ink);
    margin-top: 10px;
}

.form-control label {
    font-size: 15px;
    font-weight: 500;
    color: var(--ink);
}

.form-control input,
select,
option {
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #f2f0f9;
    border-radius: 16px;
    padding: 0px 16px;
    font-size: 15px;
    font-weight: 400;
    color: var(--ink);
}
textarea{
    width: 100%;
    outline: none;
    border: 1px solid #f2f0f9;
    border-radius: 16px;
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 400;
    color: var(--ink);
}

.input-container {
    position: relative;
}

.input-container input {
    padding-left: 40px;
    /* Make room for the eye icon */
}

.input-container i.fa-user-shield {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: var(--verdant);
}

.password-container {
    height: 50px;
    position: relative;
}

.password-container input {
    padding: 0px 30px 0px 40px;
}

.password-container i.fa-shield-halved {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: var(--verdant);
}

.password-container i.fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container i.fa-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

button.login-btn {
    height: 60px;
    width: 100%;
    outline: none;
    border: 0px;
    margin-top: 28px;
    font-size: 15px;
    font-weight: 500;
    color: var(--crystal);
    border-radius: 10px;
    padding: 0px 16px;
    background-color: var(--sable);
}

button.login-btn:hover {
    background-color: var(--verdant);
    color: var(--crystal);
}

p.back-link {
    text-align: center;
    font-weight: 500;
    margin: 20px 0px 0px;
}

p.back-link a {
    padding: 5px 10px;
    font-weight: 500;
    color: var(--verdant);
}

p.back-link a:hover {
    color: var(--sable);
}

/* == || Login == */

/* == || FORMS == */



/* == Dashboard == */
main.dashboard-pg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.side-navigation {
    width: 100%;
    max-width: 280px;
    padding: 16px 10px;
    background-color: var(--crystal);
}

.side-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-logo img.icon {
    height: 40px;
    width: 40px;
}

.side-logo img.logo {
    margin: 0px 0px 0px 10px;
}

.side-menu {
    width: 100%;
    padding: 20px 0px;
}

.side-menu h3 {
    margin: 0px 0px 10px;
}

.side-menu button.tab-btn {
    width: 100%;
    color: #acacac;
    background-color: var(--crystal);
    border: 0px;
    outline: none;
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border-left: 4px solid #00000000;
    cursor: pointer;
}

.side-menu button.tab-btn.active {
    color: var(--verdant);
    background-color: #269D7011;
    border-left: 4px solid #269D70;
}

.side-menu button.tab-btn .contents {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-menu button.tab-btn .btn-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

button.side-btn-logout {
    margin-top: 32px;
    width: 100%;
    text-align: center;
    background-color: var(--verdant);
    color: var(--crystal);
    padding: 16px 0px;
    font-size: 14px;
    font-weight: 500;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

button.side-btn-logout:hover,
.side-menu-infocard button:hover {
    background-color: var(--raven);
}

.side-menu-infocard {
    margin: 28px 0px 0px;
    padding: 30px 10px 10px;
    border-radius: 10px;
    background-color: #269D7033;
    position: relative;
    text-align: center;
    z-index: 0;
}

.side-menu-infocard .circle {
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: var(--crystal);
}

.side-menu-infocard .icon {
    position: absolute;
    z-index: 1;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--crystal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu-infocard .icon i {
    font-size: 32px;
    color: var(--ink);
}

.side-menu-infocard button {
    margin-top: 16px;
    width: 80%;
    text-align: center;
    background-color: var(--verdant);
    color: var(--crystal);
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    border: 0px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.dashboard-content {
    width: 100%;
    padding: 10px;
}

.dash-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-txt h1 {
    font-size: 50px;
    color: var(--ink);
}

.header-txt p {
    font-size: 20px;
    color: var(--twilight);
}

.nav-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.header-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

/* Icons */
.nav-item a i {
    color: var(--mist);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-item a:hover i {
    color: var(--verdant);
}

/* Badges */
.badge {
    background-color: var(--verdant);
    color: var(--crystal);
    font-size: 0.8rem;
    padding: 3px 6px;
    border-radius: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* Dropdown Items */
.dropdown-menu {
    background-color: var(--whisper);
    border-radius: 6px;
    max-width: 280px;
    min-width: 240px;
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.dropdown-menu a,
.dropdown-menu div {
    color: var(--ink);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu a:hover,
.dropdown-menu div:hover {
    background-color: var(--verdant);
    color: var(--crystal);
}

/* Profile Picture */
.profile-icon img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--verdant);
    transition: border-color 0.3s;
}

.profile-icon:hover img {
    border-color: var(--success);
}

.dash-tabs {
    padding: 10px;
}

.dash-tab-content {
    display: none;
    position: relative;
}

.dash-campaign {
    margin-top: 28px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}

.dash-campaign .create {
    width: 100%;
    min-width: 280px;
    max-width: 840px;
    border-radius: 20px;
    background-color: var(--raven);
    padding: 16px;
}

.dash-campaign .create h1 {
    font-size: 40px;
    color: var(--crystal);
    margin: 20px 0px 0px;
}

.dash-campaign .create p {
    font-size: 15px;
    color: var(--crystal);
    margin: 10px 0px 28px;
}

.create-btns button {
    width: 132px;
    padding: 10px 20px;
    border: 2px solid #ffffff00;
    outline: none;
    border-radius: 10px;
    color: var(--crystal);
}

.btn-create-prize {
    background-color: var(--verdant);
    border: 2px solid var(--verdant) !important;
}

.btn-view-campaign {
    background-color: #00000000;
    border: 2px solid var(--crystal) !important;
}

.stats {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
    padding: 36px 16px 16px;
    background-color: #269D7033;
    margin: 0px 0px 0px 10px;
}

.stats .cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 0px;
}

.stats .cards .card {
    padding: 2px;
    width: 100px;
}

.db-summary {
    width: 100%;
    margin-top: 40px;
}

.db-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.db-cards .card {
    height: 240px;
    width: 240px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.db-cards .card h1 {
    font-size: 50px;
}

.db-cards .card span {
    font-size: 20px;
    margin: 30px 0px 0px;
}

/* == TABLES == */
.table h2 {
    margin: 10px 0px;
}

table {
    width: 100% !important;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 10px;
    margin: 40px 0px;
    background-color: #ffffff;
}

thead {
    background-color: #00000000;
    color: var(--mist) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 600 !important;
}

th {
    height: 60px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    border-bottom: 1.2px solid #eeeeee;
    color: var(--twilight);
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

iframe {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

td {
    height: 60px;
    padding: 10px 10px 10px 20px;
    text-align: left;
    border-bottom: 1.2px solid #eeeeee;
    color: var(--sable);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-offer-table td button {
    background-color: #FF000011;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 0px;
    outline: none;
    color: #FF0000;
    font-size: 16px;
    cursor: pointer;
}

td:first-child {
    width: 50px;
    /* Adjust the width as needed */
}

.dashboard-table td:nth-child(2) {
    font-weight: 600;
}

tbody tr:hover {
    background-color: #269D7011;
}

tr.last {
    height: 20px !important;
    background-color: #ffffff !important;
}

td span#successStatus {
    color: green !important;
    font-size: 10px !important;
    font-weight: 600;
}

td span#errorStatus {
    color: red !important;
    font-size: 10px !important;
    font-weight: 600;
}

td a {
    text-decoration: none;
    color: var(--sable);
    display: block;
    padding: 10px;
    font-weight: 600;
}

td a:hover {
    color: #FF609A;
}

img.dash-events-thumb {
    border-radius: 4px;
}

/* == TABLES == */
/* == TAB content forms == */
.add-offer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}

.add-offer button {
    height: 40px;
    width: 160px;
    padding: 10px;
    background-color: var(--success);
    color: var(--crystal);
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    border: 0px;
    margin: 0px 0px 0px 10px;
}

.exloretb-form,
.prizestb-form,
.eventstb-form {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000055;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 10;
}

.exloretb-form .inner,
.eventstb-form .inner,
.prizestb-form .inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Initially hide the delete button */
.contact-view-btn{
    padding: 4px 20px;
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    border: 0px;
    border-radius: 25px;
    outline: none;
    cursor: pointer !important;
    box-shadow: rgba(38, 157, 112, 0.1) 0px 8px 24px, rgba(38, 157, 112, 0.1) 0px 16px 56px, rgba(38, 157, 112, 0.1) 0px 24px 80px;
    margin: 0px 5px 0px 0px;
}
.event-delete-btn,
.contact-delete-btn,
.contactbutton,
.winner-delete-btn,
.prize-delete-btn,
.contact-view-btn:hover {
    visibility: visible;
    padding: 4px 20px;
    background-color: #269D70;
    color: #ffffff;
    height: 40px;
    border: 0px;
    border-radius: 25px;
    outline: none;
    cursor: pointer !important;
    box-shadow: rgba(38, 157, 112, 0.1) 0px 8px 24px, rgba(38, 157, 112, 0.1) 0px 16px 56px, rgba(38, 157, 112, 0.1) 0px 24px 80px;
}
.contactbutton{
    width: 120px !important;
    
}
.event-delete-btn:hover,
.contact-delete-btn:hover,
.winner-delete-btn:hover,
.prize-delete-btn:hover {
    transition: all ease-in 200ms;
    visibility: hidden;
    padding: 4px 20px;
    background-color: #FF000033;
    color: #FF0000;
    border: 0px;
    border-radius: 25px;
    outline: none;
    box-shadow: rgba(255, 0, 0, 0.1) 0px 8px 24px, rgba(255, 0, 0, 0.1) 0px 16px 56px, rgba(255, 0, 0, 0.1) 0px 24px 80px;
}

.form-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    padding: 16px;
    border-radius: 20px;
    background-color: var(--crystal);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.cancel-btn-form {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.cancel-btn-form:hover {
    color: var(--crystal);
    background-color: var(--success);
}

/* == TAB content forms == */
/* == HOME PG == */
#detailsModal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #ffffff;
  }
  #detailsModal button.close{
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
    background-color: #00000000;
    color: #2b1d4f;
    cursor: pointer;
  }
  #detailsModal button.close:hover{
    color: #FF609A;
  }
  button.modal-copy{
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
    background-color: #00000000;
    color: #2b1d4f;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px
  }
  span#tooltipText{
    position: absolute;
    top: -10px;
    right: -100%;
  }
  .go-to-site{
    margin: 20px auto 10px;
    padding: 4px 10px;
    color: #2b1d4f;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .go-to-site:hover{
    color: #FF609A;
  }
  .p-go-to-site{
    text-align: center;
  }
  .modal-email-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
/* == || Dashboard == */